*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 30px;
    font-size: x-large;
    color: 	#0cb2c0;
}
h1,
strong{
    color:#f725a0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #FAD141; */
}